$black-color: black;
$white-color: white;
$main-text-in-light: rgb(44, 62, 80);
$main-text-in-dark: white;
$main-text-hover: rgb(255, 152, 0);

// https://medium.com/swlh/everything-you-need-to-know-about-designing-for-web-typography-69cec6ca8230
$headline1-desktop: 54.9px;
$headline2-desktop: 43.9px;
$headline3-desktop: 35.2px;
$headline4-desktop: 28.1px;
$headline5-desktop: 22.5px;
$body1-desktop: 18px;
$caption-desktop: 14.4px;
$tiny-desktop: 11.5px;

$headline1-desktop: 48.8px;
$headline2-desktop: 39.1px;
$headline3-desktop: 31.3px;
$headline4-desktop: 25px;
$headline5-desktop: 20px;
$body1-desktop: 16px;
$caption-desktop: 12.8px;
$tiny-desktop: 10.2px;


// export const backgrounds = {
//   black-color: `black`;
//   white-color: `white`;
//   main-text-in-light: `rgb(44, 62, 80)`;
//   main-text-in-dark: `white`;
//   main-text-hover: `rgb(255, 152, 0)`;
// }
